button {
    background-color: transparent;
    font-family: NType82Mono;
    font-size: .9375rem;
    line-height: 1.34;
    letter-spacing: 0.6px;
    color: #002F6C;
    height: 1.875rem !important;
    text-align: center;
    /* width: 100%; */
}

.mainbtn {
    height: 1.25rem;
    font-size: .8125rem;
    border-radius: 50rem;
    color: #fff !important;
    padding: 0 !important;
    background-color: #002F6C !important;
    border-color: #002F6C !important;
    transition: all .15s ease-out;
    width: 100%;
    left: 0px;
    max-width: calc(100% + 10px);
}

.mainbtn:hover {
    width: calc(100% + 10px) !important;
    left: -5px;
}