@font-face {
    font-family: Ndot-55;
    src: url('font/Ndot-55.otf');
}

@font-face {
    font-family: NType82;
    src: url('font/NType82-Regular.otf');
}

@font-face {
    font-family: NType82Mono;
    src: url('font//NType82Mono-Regular.otf');
}

@font-face {
    font-family: LetteraMono;
    src: url('font/LetteraMonoLLCondLight-Regular.otf');
}